/* Tablets */
@media (max-width: 992px) {

}

/* Mobile */
@media (max-width: 768px) {

  /* Show hamburger */
  .menu-toggle {
    display: block;
  }

  /* Hide normal menu */
  .nav {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: black;
    display: none;
  }

  /* When active */
  .nav.active {
    display: block;
  }

  .nav-links {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding: 20px 0;
  }

  /* Hide socials (optional but recommended) */
  .header-socials {
    display: none;
  }
.dropdown-menu {
    position: static;
    display: none;
  }

  .dropdown.active .dropdown-menu {
    display: block;
  }
}


/* Small Mobile */
@media (max-width: 480px) {

}